body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


.content-box {
    background-image: url("imagenes/Los-Mejores-Juegos-de-Deportes.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20% 20px; 
    color: yellow;
    font-family: Arial, sans-serif;
}